* {
    margin: 0;
    padding: 0;
}

.navigation {
    background: darkblue;
    text-align: center;
}

.navigation-link {
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.navigation-img {
    height: 40px;
}

.green-btn {
    padding: 10px 15px;
    background-color: mediumaquamarine;
    border-radius: 5px;
}
.slogan {
    background: url("https://ibatech.az/wp-content/uploads/2019/10/banner.jpg") no-repeat;
    background-size: cover;
    padding: 300px 0 100px;
    text-align: center;
}
.slogan-btn {
    display: inline-block;
    text-decoration: none;
}













